<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILayerAB_WebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://syncrebackend.elasticbeanstalk.com/Syncre_LayerAB_WebService_deploy/LayerAB_WebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILayerAB_WebService"
                contract="ILayerAB_WebService" name="BasicHttpBinding_ILayerAB_WebService" />
        </client>
    </system.serviceModel>
</configuration>