<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <add key="AWSProfileName" value="Syncre"/>
    <add key="AWSProfilesLocation" value="C:\aws_service_credentials\credentials"/>

    <add key="PollQueue" value="True"/>
    <add key="QueuePollInterval" value="1000"/>  <!--in milliseconds-->

    <add key="SearchServerAddress" value="http://54.149.87.46:9009/"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="NewBehavior0" name="Syncre_LayerAB_WebService.LayerAB_WebService">
        <endpoint address="" binding="basicHttpBinding"
            bindingConfiguration="" contract="Syncre_LayerAB_WebService.ILayerAB_WebService" />
      </service>
    </services>

  </system.serviceModel>

</configuration>