.filterInputWrapper {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, background-color 0.2s linear 0s;
    width: 220px;
}

.ui-widget-header {
border: 1px solid #aaaaaa;
background: #98C7E7 !important;
color: #222222;
font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: #98C7E7 !important; */
font-weight: normal;
color: #555555;
}

.calibri {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 1000%;
    height: 50%;
    left: 25%;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 50%;
    font-weight: 600;
}
 .fliterSearchIcon {
    padding-left: 5px;
    position: absolute;
    top: 5px;
}

.filterClearIcon {
    cursor: pointer;
    margin-left: -10px;
    margin-top: 5px;
    position: absolute;
}

.filterInputWrapper .filterInputBox{
  border:0;
  border-radius:0;
  color:#444;
  margin:0;
  padding:0px;
  box-shadow:inset 0 0 0;
  width:178px;
  height:25px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.filterListWrapper{
  
  max-height:300px;overflow:auto;margin-right:2px;color:white;margin-top:3px;margin-left:2px;
  
}

.filterButtonLeft{
  float:left;width:110px;
}

.filterButtonRight{
  float:right;width:110px;
}

.mainPageStyle {
	width: 100%; 
	height: 700px; 
	position: relative; 
	background-color: white;
}

.inputBoxCustom {
	outline: 0px !important; 
	width: 98%; 
	opacity: 0.8; 
	padding-left: 25px; 
	padding-right: 25px;
}

.buttonArea {
	text-align: center; 
	width: 50%; 
	top: 60%; 
	position: absolute; 
	left: 25%; 
	padding: 1px;
}

.loadingarea1 {
    text-align: center; 
    width: 50%; 
    top: 70%; 
    position: absolute; 
    left: 25%; 
    padding: 1px; 
    display: none;	
}

.loadingarea2 {
	text-align: center;
	width: 50%; 
	top: 70%; 
	position: absolute; 
	left: 25%; 
	padding: 1px; 
	display: none;"
}



